body {
    font-family: Arial, serif;
    background-color: #fffafa;
}

h1 {
    padding-left: 20px;
    font-size: 30px;
    border-bottom: 3px dashed;
    background-color: gainsboro;
    box-shadow: 2px 2px 3px #ccc;
}

h2 {
    font-size: 22px;
    margin: 0;
}

li {
    font-weight: 400;
    list-style: none;
    padding-bottom: 5px;
}

a:link, a:visited {
    color: steelblue;
    text-decoration: none;
    text-shadow: 1px 1px 4px #aaaaaa;
}

.delmarker a:link, .delmarker a:visited {
    color: crimson;
}

.editmarker a:link, .editmarker a:visited {
    color: darkcyan;
}

.infobox {
    font-size: 16px;
    font-weight: bold;
    color: #222222;
    background-color: whitesmoke;
    padding: 15px;
    text-align: center;
    margin: 5px;
    box-shadow: 2px 2px 3px #ccc;
}

.titlebox {
    border-bottom: thin solid;
    background-color: #eee;
    border-color: #aaa;
    padding: 5px;
}

.msatthi {
    background-color: paleturquoise;
    font-size: 14px;
    padding: 5px;
}

.binding {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 250px;
}

.pagewrap {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.pagewrap h3 {
    text-align: center;
    margin-left: 0;
    margin-right: 50px;
}

.hiddenwrap {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.loosebinding {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;
}

.contentwrap {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.backmarker {
    text-align: right;
    margin-left: auto;
    font-weight: bold;
    padding: 10px;
    border-bottom: thin dashed;
}

.delmarker {
    text-align: right;
    margin-left: auto;
    font-weight: bold;
    padding: 5px;
    margin-top: -5px;
    float: right;
}

.editmarker {
    text-align: left;
    font-weight: bold;
    padding: 5px;
    margin-top: -5px;
    float: left;
}

.description {
    font-size: 80%;
}

.pricing {
    font-size: 120%;
    font-weight: bold;
    color: darkgreen;
}

dt {
    float: left;
    width: 200px;
}

button {
    font-family: Arial, serif;
    font-size: 17px;
    font-weight: normal;
    background-color: gainsboro;
}

hr {
    border: none;
    border-top: 2px solid #ddd;
    margin: 5px;
}

.info {
    display: none;
}

.inviteminfo {
    padding-bottom: 25px;
}

#formcontainer {
    display: none;
}